.wrapper {
  padding: 0 100px;

  #candidateReport {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 2px 20px -2px rgba(0, 0, 0, 0.75);
    margin-top: 1.5rem;
    height: 4rem;

    & > .company,
    .candidate,
    .date,
    .status {
      border-right: 1px solid gray;
      padding-left: 1rem;

      & > span {
        color: gray;
        font-size: small;
      }
    }

    & > .company {
      flex-basis: 25%;
    }
    & > .candidate {
      flex-basis: 25%;
    }
    & > .date {
      flex-basis: 25%;
    }
    & > .status {
      flex-basis: 15%;
    }

    .company,
    .candidate {
      width: 250px;
    }

    .details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 1rem;

      & > svg {
        width: 1.7rem;
        padding-right: 0.5rem;
      }
    }
  }
}
