@import '../../../scss/mixins';
// Style for admin page
.candidateReport {
  padding: 0 10rem;

  @include respond(bp-1200){
    padding: 0 6rem;
  }
  @include respond(bp-1024){
    padding: 0;
  }
  @include respond(bp-768){
    padding: 0 6rem;
  }
  @include respond(bp-640){
    padding: 0;
  }

  &:not(:first-child){
    margin-top: 1.5rem;
  }

  .box {
    display: flex;
    flex-direction: row;
    // align-items: center;
    padding: 1rem 0;
    -webkit-box-shadow: 0px 0px 18px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 18px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 18px -7px rgba(0,0,0,0.75);

    @include respond(bp-768){
      flex-direction: column;
      padding: 1rem;
    }

    & > .company, .candidate, .date, .status {
      border-right: 1px solid gray;
      padding: 0 1rem;
      @include respond(bp-768){
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-right: none;
        border-bottom: 1px solid gray;
        padding: .4rem 0;
      }

      & > h5{
        @include respond(bp-768){
          order: 2;
        }
      }

      & > span {
        color: gray;
        font-size: small;
        @include respond(bp-768){
          order: 1;
        }
      }
    }

    & > .company, .candidate, .date {
      flex-basis: 25%;
    }

    & > .status {
      flex-basis: 15%;

      &.passed{ color: green; }
      &.declined{ color: red; }
    }
  }
}