// Style for admin page
.candidateReport {
  padding: 0 10rem;

  &:not(:first-child){
    margin-top: 1.5rem;
  }

  .box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0;
    -webkit-box-shadow: 0px 0px 18px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 18px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 18px -7px rgba(0,0,0,0.75);

    & > .company, .candidate, .date, .status {
      border-right: 1px solid gray;
      padding: 0 1rem;

      & > span {
        color: gray;
        font-size: small;
      }
    }

    & > .company, .candidate, .date {
      flex-basis: 25%;
    }

    & > .status {
      flex-basis: 15%;

      &.passed{ color: green; }
      &.declined{ color: red; }
    }
  }
}