.candidate-card2 {
    display: flex;
    width: 40%;
    margin: 10px;
    border-radius: 15px;
    background-color: rgb(226, 226, 226);
    overflow: hidden;
    box-shadow: 9px 14px 20px -22px rgba(0,0,0,0.75);

    img {
      width: 30%;
      overflow: hidden;
      display: inline-block;
    }

    .nameEmail {
      display: inline-block;
      padding: 5px;
      margin-top: 10px;
      border: none;
      border-radius: 0;
      p {
        margin: 2px;
      }
      p:nth-of-type(2) {
        color: gray;
        font-size: 10px;
      }
    }
    
    
  }