.candidatePage-main {
  position: relative;

  .candidateModalWindow {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);

    .report-modal {
      background-color: white;
      border: 10px solid blue;
      border-radius: 20px;
      position: sticky;
      z-index: 1;
      width: 50%;
      margin-left: 25%;
      margin-top: 7%;
      padding: 10px;
      display: flex;
      flex-wrap: wrap;

      h2 {
        font-weight: 300;
        text-align: start;
        padding: 0;
        padding-bottom: 10px;
        border-bottom: 1px solid gray;
        width: 100%;
        margin-bottom: 10px;
      }

      .report-info {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div {
          margin-bottom: 10px;

          span {
            font-size: 0.8em;
          }
          h5 {
            font-size: 1.2em;
            color: gray;
            font-weight: 400;
          }
        }
      }

      .notes {
        width: 50%;
      }

      .close {
        position: absolute;
        font-weight: bold;
        right: -30px;
        top: -30px;
        padding: 15px;
        background-color: black;
        color: white;
        border-radius: 50%;
      }
    }
  }
}
