@import '../../scss/mixins';
@import '../../scss/variables';

.nextButton,
.backButton,
.submitButton {
  padding: 0.8rem 1.5rem;
  background-color: $btnBlue;
  border: none;
  border-radius: 0.7rem;
  color: white;
  font-size: medium;

  @include respond(bp-640){
    display: block;
    width: 100%;
  }
}

.nextButton {
  background-color: $btnBlue;
}
.backButton {
  background-color: $btnRed;
}
.submitButton {
  background-color: $btnGreen;
}

.nextButton:hover,
.backButton:hover,
.submitButton:hover {
  transform: scale(1.05);
  transition: 100ms;
  box-shadow: none;
  cursor: pointer;
}

.loginButton {
  width: 100%;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  height: 2rem;
  border-radius: 2rem;
  cursor: pointer;

  &:hover{
    background-color: white;
    color: $color-cold;
    transition: ease 500ms;
  }
}