@import '../../scss/mixins';

.processContainer {
    & > .item {
      display: flex;
      align-items: center;
      
      &:not(:first-child){
        margin-top: 1rem;
      }

      & > div {
        @include center-x-y;
        border: 2px solid gray;
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        margin-right: .5rem;
      }
    }

    & > .activeItem{
      font-weight: 600;
      & > div{
        border: 3px solid gray;
      }
    }
  }