.processContainer {
    & > .item {
      display: flex;
      align-items: center;
      margin-top: 1rem;

      & > div {
        display: inherit;
        justify-content: center;
        align-items: center;
        border: 2px solid gray;
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        margin-right: .5rem;
      }
    }

    & > .activeItem{
      font-weight: 600;
      & > div{
        border: 3px solid gray;
      }
    }
  }