@import "../../../scss/mixins";

.personal-info {
  margin-bottom: 20px;
  display: flex;
  gap: 5%;
  @include respond(bp-640) {
    flex-direction: column;
    align-items: center;
  }

  & > img {
    width: 30%;
    @include respond(bp-640) {
      width: 80%;
    }
  }

  .personal-info-data {
    // width: 60%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: space-between;

    @include respond(bp-640) {
      width: 80%;
      flex-direction: column;
    }

    & > div {
      width: 45%;
      display: flex;
      flex-direction: column;
      gap: 10px;

      @include respond(bp-640) {
        width: 100%;
        font-size: 1.2em;
        flex-direction: row;
      }

      & > h5 {
        color: gray;
        font-size: 1em;
        font-weight: 200;

        @include respond(bp-768) {
          font-size: 0.8em;
        }
        @include respond(bp-640) {
          font-size: 1em;
        }
      }

      & > span {
        font-size: 1.5em;
        font-weight: bold;
        padding-left: 10px;

        @include respond(bp-1024) {
          font-size: 1.2em;
        }

        @include respond(bp-768) {
          font-size: 0.9em;
        }
      }
    }
  }
}
