@import '../../../scss/mixins';

.candidate-card {
    width: 100%;
    text-align: center;
    border: 5px solid blue;

    @include respond(bp-768){
      width: 60%;
      margin: 0 auto;
    }
    @include respond(bp-640){
      width: 100%;
    }

    & > img {
      width: 100%;
    }

    & > p {
      margin: 2px;
    }
  }