@import '../../../scss/mixins';

.selectCandidateCard {
  display: flex;
  margin: 10px;
  width: 100%;
  border-radius: 1rem;
  background-color: rgb(226, 226, 226);
  overflow: hidden;
  cursor: pointer;
  @include cardBoxShadow;

  @include respond(bp-900){
    flex-direction: column;
    width: 100%;
  }

  &:hover{
    transform: scale(1.02);
    @include cardBoxShadowDarker;
    transition: ease 100ms;
  }

  & > img {
    width: 30%;
    overflow: hidden;

    @include respond(bp-900){
      width: 100%;
    }
  }

  & > .nameEmail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    border: none;
    border-radius: 0;

    & > p {
      margin: 2px;
    }
    & > p:nth-of-type(2) {
      color: gray;
      font-size: .9rem;
      @include respond(bp-1200){
        font-size: 1.2rem;
      }
    }

    @include respond(bp-1200){
      font-size: 1.8rem;
    }
  }
}
.selectedCandidateCardActive {
  transform: scale(1.05);
  transition: 200ms;
}