.processSelected {
    margin-top: 2rem;
    font-size: 2rem;
}
.candidateName {
    display: none;
}
.candidateNameActive {
    display: block;
}
.companyName {
    display: none;
}
.companyNameActive {
    display: block;
}