.processSelected {
    margin-top: 2rem;
    font-size: 2rem;
}
.candidateName {
    display: none;
}
.candidateNameActive {
    margin: 1rem 0;
    display: block;
    & > div {
        margin: 1rem 0;
        font-size: medium;
    }
}
.companyName {
    display: none;
}
.companyNameActive {
    margin: 1rem 0;
    display: block;
    & > div {
        margin: 1rem 0;
        font-size: medium;
    }
}