.adminWizzard1 {
  display: flex;
  flex-wrap: wrap;

  .selectContainer {
    color: grey;
    width: 30%;
    border-right: 2px solid black;
    padding: 0px 5% 3% 7%;
    margin-top: 50px;
    height: 70vh;
  }
  .activeItem {
    color: black;
    & > div {
      background-color: rgb(84, 164, 255);
      color: white;
    }
  }
  .candidateContainer {
    width: 70%;
    margin-top: 50px;
    height: 70vh;

    .nextButton,
    .backButton {
      padding: 15px 25px;
      margin-top: 50px;
      margin-right: 9%;
      background-color: rgb(84, 164, 255);
      border: none;
      border-radius: 10px;
      color: white;
      font-size: medium;
    }
    .backButton {
      background-color: palevioletred;
    }
    & > div {
      padding-right: 5%;
      display: flex;
      justify-content: end;
    }
    .candidateCardsContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .candidate-card2:hover,
    .nextButton:hover,
    .backButton:hover {
      cursor: pointer;
      transform: scale(1.05);
      transition: 100ms;
      box-shadow: none;
    }
  }
}
