.adminWizzard {
  display: flex;

  .selectContainer {
    flex-basis: 30%;
    padding-right: 2rem;
    color: grey;
    border-right: 2px solid black;
  }
  .candidateContainer {
    flex-basis: 70%;
    padding-left: 2rem;

    & > *:not(:last-child){
      margin-bottom: 2rem;
    }

    & > .buttonContainer{
    }
  }
}
