.adminWizzard1 {
  display: flex;
  flex-wrap: wrap;

  .selectContainer {
    color: grey;
    width: 30%;
    border-right: 2px solid black;
    padding: 0px 5% 3% 7%;
    margin-top: 50px;
    height: 70vh;
    & > div {
      & > div {
        display: inline-block;
        border: 2px solid gray;
        border-radius: 50%;
        padding: 10px 15px;
        margin: 10px;
      }
    }
  }
  
  .activeItem {
     color: black;
     & > div {
       background-color: rgb(84, 164, 255);
       color: white;
       border-color:red;
     } 
  } 
  .candidateContainer {
    width: 70%;
    margin-top: 50px;
    height: 70vh;

    .nextButton, .backButton {
      padding: 15px 25px;
      margin-top: 50px;
      margin-right: 9%;
      background-color: rgb(84, 164, 255);
      border: none;
      border-radius: 10px;
      color: white;
      font-size: medium;
    }
    .backButton{
      background-color: palevioletred;
    }
    .nextButton:hover, .backButton:hover{
      cursor: pointer;
      transform: scale(1.05);
      transition: 100ms;
      box-shadow: 9px 14px 20px -22px rgba(0,0,0,0.75);
    }

    & > div {
      padding-right: 5%;
      display: flex;
      justify-content: end;
    }
    .candidateCardsContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      
      & > div {
        display: flex;
        width: 40%;
        margin: 10px;
        border-radius: 15px;
        background-color: rgb(226, 226, 226);
        overflow: hidden;
        box-shadow: 9px 14px 20px -22px rgba(0,0,0,0.75);

        img {
          width: 30%;
          overflow: hidden;
        }

        .nameEmail {
          padding: 5px;
          margin-top: 10px;
          border: none;
          border-radius: 0;
          p {
            margin: 2px;
          }
          p:nth-of-type(2) {
            color: gray;
            font-size: 10px;
          }
        }
      }
      .candidate-card:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: 100ms;
        box-shadow: none;
      }
    }
  }
}
