#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  padding: 1rem 2rem;

  & a,
  h1 {
    color: white;
    text-decoration: none;
    text-align: left;
  }

  & > ul {
    & > a {
      list-style: none;
      display: inline-block;
    }

    & > a:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
