@import "../../scss/mixins";

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  padding: 1rem 2rem;

  @include respond(bp-640) {
    flex-direction: column;
  }

  & > h1 {
    font-size: 2rem;

    @include respond(bp-640) {
      margin-bottom: 2rem;
    }
  }

  & a,
  h1 {
    color: white;
    text-decoration: none;
  }

  & > ul {
    font-size: 1.2rem;
    @include respond(bp-640) {
      text-align: center;
    }

    & > a {
      list-style: none;
      display: inline-block;

      @include respond(bp-640) {
        display: block;
      }
    }

    & > a:not(:last-child) {
      margin-right: 2rem;

      @include respond(bp-640) {
        margin-right: 0;
        margin-bottom: 0.5rem;
      }
    }
  }
}

.active {
  * {
    color: white;
    font-weight: bold;
    font-size: 1.1em;
  }
}
