#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    color: white;
    padding: 1rem 2rem;

    & > ul{
        list-style: none;
        
        & > li{
            display: inline-block;
            cursor: pointer;
        }

        & > li:not(:last-child){
            margin-right: 2rem;
        }
    }
}