@import "../../scss/mixins";
@import "../../scss/variables";

#footer {
  position: sticky;
  z-index: 5;
  bottom: 0;
  width: 100%;
  background-color: $color-blue;
  color: white;
  padding: 1rem 2rem;

  @include respond(bp-640) {
    text-align: center;
  }
}
