@import "../../scss/mixins";
@import "../../scss/variables";

#loginModal {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $color-blue;
  @include center-x-y;
  flex-direction: column;

  @include respond(bp-768) {
    padding: 2rem;
  }

  & > a {
    position: absolute;
    top: 2rem;
    right: 2rem;

    & > svg {
      width: 3rem;
      color: white;
    }
  }

  & > form {
    width: 40%;

    @include respond(bp-1024) {
      width: 60%;
    }
    @include respond(bp-768) {
      width: 100%;
    }

    & > .error-label {
      color: red;
      margin-bottom: 0.5rem;
    }

    & > .close-error-label {
      visibility: hidden;
    }

    & > .email,
    .password {
      height: 2rem;
      border-radius: 2rem;
      border: none;

      @include respond(bp-1024) {
        height: 2.2rem;
      }
      @include respond(bp-768) {
        height: 2.4rem;
      }
    }

    & > .email,
    .password {
      width: 100%;
      margin-bottom: 0.5rem;
      padding-left: 1rem;

      &:focus {
        outline: none;
      }
    }

    & > .email-error,
    .password-error {
      border: 2px solid red;
    }
  }
}
